
section.advantage {
  padding: 64px 0 74px 0;
}

section.advantage .advantWrapper {
  margin-top: 45px;
  -webkit-box-shadow: 0px 2.8115px 18.9776px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2.8115px 18.9776px rgba(0, 0, 0, 0.25);
}

section.advantage .bordered {
  border-right: 1.40575px solid #DBDBDB;
}

section.advantage .advantageBlock:hover .advantageText {
  color: #1875D2;
}

section.advantage .advantageItem {
  padding: 22px 0 24px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

section.advantage .advantageItem .advantageText {
  margin-left: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #1F396A;
}


section.economy {
  padding-bottom: 70px;
}

section.economy .economyWrapperOne,
section.economy .economyWrapperTwo {
  padding: 8px 6px;
  -webkit-box-shadow: 0px 2.80971px 18.9655px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2.80971px 18.9655px rgba(0, 0, 0, 0.25);
  height: 261px;
}

section.economy .economyWrapperOne {
  margin-top: 35px;
}

section.economy .economyWrapperTwo {
  margin-top: 20px;
}

section.economy .economyBlock {
  border: 1.40485px solid #DBDBDB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

section.economy .economyBlock .row {
  height: 100%;
}

section.economy .textBlock {
  padding: 35px 80px 53px 37px;
  height: 100%;
}

section.economy .textBlock .economyItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}

section.economy .textBlock .economyItem .economyTextBlock {
  margin-left: 13px;
  width: 406px;
}

section.economy .textBlock .economyItem .economyTextBlock .economyText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

section.economy .textBlock .economyItem svg {
  margin-top: 4px;
}

section.economy .imgBlock {
  overflow: hidden;
  height: 100%;
}

section.economy .imgBlock .economyImg {
  width: 100%;
}


@media screen and (max-width: 991px) {

  section.economy .economyWrapperOne,
  section.economy .economyWrapperTwo {
    height: 100%;
  }

  section.economy .textBlock {
    padding: 20px 20px 20px 30px;
  }

  section.economy .textBlock .economyItem {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  section.economy .textBlock .economyItem .economyTextBlock {
    width: 100%;
  }

  section.economy .imgBlock {
    display: none;
  }
}


@media screen and (max-width: 767px) {
  section.advantage .bordered {
    border-right: none;
    border-bottom: 1.40575px solid #DBDBDB;
  }
}